.git
.gitignore
.gitattributes
.idea
.vscode
.project
files

.env
.env.*
!.env.example
!.env.*.example

node_modules
vendor
backend/node_modules
backend/vendor
backend/.env
storage/logs
storage/framework/cache
docker/dev
docker/local
