APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_KEY=

DB_DATABASE=laravel
DB_USERNAME=laravel
DB_PASSWORD=change-me
DB_ROOT_PASSWORD=change-me-root

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

LOG_CHANNEL=stderr
LOG_LEVEL=debug
APP_IMAGE_TAG=latest
